header {
  background-color: #B1CF72;
}

div.jumbotron {
  background-color: #B1CF72;
}

body.body {
  font-family: 'Montserrat', sans-serif;
  background-color: #5E405F;
}

.purrpl {
  font-family: 'Indie Flower', cursive;
  color: #5E405F;
}

.develo {
  font-family: 'Source Code Pro', monospace;
  color: #6B6B6B;
}

.avatarName {
  font-family: 'Source Code Pro', monospace;
  color: #6B6B6B;
}

.imgLogo {
  margin: auto;
}

div.main {
  background-color: #4F364C;
}

.widget-avatar {
  border: 4px solid #6B6B6B;
  background-color: #8F9E6F;
}

main {
  max-width: 1200px;
  width: auto;
  margin: auto;
}

.date {
  letter-spacing: 0.2rem;
  color: #6B6B6B;
  text-transform: uppercase;
}

.navbar {
  background: #8F9E6F;
}

h2.articleHead {
  font-family: 'Source Code Pro', monospace;
}
/* COLOR PALETTE
#4F364C,
#5E405F,
#6B6B6B,
#8F9E6F,
#B1CF72,
*/
